{:index 0, :time 13329459, :type :info, :process :nemesis, :f :start-partition, :value :majority}
{:index 1, :time 15560584, :type :invoke, :process 1, :f :generate, :value nil}
{:index 2, :time 17671084, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n1" #{"n2" "n0"}, "n2" #{"n1"}, "n0" #{"n1"}}]}
{:index 3, :time 17768959, :type :invoke, :process 2, :f :generate, :value nil}
{:index 4, :time 19579417, :type :invoke, :process 0, :f :generate, :value nil}
{:index 5, :time 5041299709, :type :info, :process 1, :f :generate, :value nil, :error :net-timeout}
{:index 6, :time 5041658834, :type :info, :process 2, :f :generate, :value nil, :error :net-timeout}
{:index 7, :time 5041731917, :type :info, :process 0, :f :generate, :value nil, :error :net-timeout}
{:index 8, :time 5041762875, :type :invoke, :process 3, :f :generate, :value nil}
{:index 9, :time 5043519000, :type :invoke, :process 4, :f :generate, :value nil}
{:index 10, :time 5046825584, :type :invoke, :process 5, :f :generate, :value nil}
{:index 11, :time 7473168584, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 12, :time 7492146334, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 13, :time 10051022459, :type :info, :process 4, :f :generate, :value nil, :error :net-timeout}
{:index 14, :time 10051608375, :type :invoke, :process 7, :f :generate, :value nil}
{:index 15, :time 10072111917, :type :info, :process 5, :f :generate, :value nil, :error :net-timeout}
{:index 16, :time 10072679292, :type :info, :process 3, :f :generate, :value nil, :error :net-timeout}
{:index 17, :time 10072735334, :type :invoke, :process 8, :f :generate, :value nil}
{:index 18, :time 10074955792, :type :invoke, :process 6, :f :generate, :value nil}
{:index 19, :time 15077292042, :type :info, :process 7, :f :generate, :value nil, :error :net-timeout}
{:index 20, :time 15077840209, :type :invoke, :process 10, :f :generate, :value nil}
{:index 21, :time 15084553750, :type :info, :process 8, :f :generate, :value nil, :error :net-timeout}
{:index 22, :time 15096077834, :type :invoke, :process 11, :f :generate, :value nil}
{:index 23, :time 15110185125, :type :info, :process 6, :f :generate, :value nil, :error :net-timeout}
{:index 24, :time 15110394125, :type :invoke, :process 9, :f :generate, :value nil}
{:index 25, :time 20092127542, :type :info, :process 10, :f :generate, :value nil, :error :net-timeout}
{:index 26, :time 20092318125, :type :invoke, :process 13, :f :generate, :value nil}
{:index 27, :time 20114239542, :type :info, :process 11, :f :generate, :value nil, :error :net-timeout}
{:index 28, :time 20115449334, :type :invoke, :process 14, :f :generate, :value nil}
{:index 29, :time 20152779875, :type :info, :process 9, :f :generate, :value nil, :error :net-timeout}
{:index 30, :time 20153008334, :type :invoke, :process 12, :f :generate, :value nil}
{:index 31, :time 23825871500, :type :info, :process :nemesis, :f :start-partition, :value :majorities-ring}
{:index 32, :time 23865559334, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n2" #{"n0"}, "n0" #{"n1"}, "n1" #{"n2"}}]}
{:index 33, :time 25108988167, :type :info, :process 13, :f :generate, :value nil, :error :net-timeout}
{:index 34, :time 25109138542, :type :invoke, :process 16, :f :generate, :value nil}
{:index 35, :time 25151031792, :type :info, :process 14, :f :generate, :value nil, :error :net-timeout}
{:index 36, :time 25151212875, :type :invoke, :process 17, :f :generate, :value nil}
{:index 37, :time 25154448917, :type :info, :process 12, :f :generate, :value nil, :error :net-timeout}
{:index 38, :time 25154529834, :type :invoke, :process 15, :f :generate, :value nil}
{:index 39, :time 30138287417, :type :info, :process 16, :f :generate, :value nil, :error :net-timeout}
{:index 40, :time 30159587834, :type :info, :process 17, :f :generate, :value nil, :error :net-timeout}
{:index 41, :time 30164298500, :type :info, :process 15, :f :generate, :value nil, :error :net-timeout}
