{:index 0, :time 12955625, :type :invoke, :process 0, :f :broadcast, :value 0}
{:index 1, :time 14806416, :type :info, :process :nemesis, :f :start-partition, :value :majorities-ring}
{:index 2, :time 19483291, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n2" #{"n1" "n3"}, "n4" #{"n0" "n3"}, "n1" #{"n2" "n0"}, "n3" #{"n2" "n4"}, "n0" #{"n1" "n4"}}]}
{:index 3, :time 19543125, :type :invoke, :process 2, :f :broadcast, :value 1}
{:index 4, :time 75507333, :type :invoke, :process 3, :f :read, :value nil}
{:index 5, :time 77194500, :type :ok, :process 3, :f :read, :value []}
{:index 6, :time 247357750, :type :invoke, :process 4, :f :read, :value nil}
{:index 7, :time 252301708, :type :ok, :process 4, :f :read, :value []}
{:index 8, :time 271865833, :type :invoke, :process 1, :f :broadcast, :value 2}
{:index 9, :time 466742791, :type :invoke, :process 3, :f :broadcast, :value 3}
{:index 10, :time 583397458, :type :invoke, :process 4, :f :read, :value nil}
{:index 11, :time 587919041, :type :ok, :process 4, :f :read, :value []}
{:index 12, :time 738983666, :type :invoke, :process 4, :f :read, :value nil}
{:index 13, :time 743193208, :type :ok, :process 4, :f :read, :value []}
{:index 14, :time 808924333, :type :invoke, :process 4, :f :broadcast, :value 4}
{:index 15, :time 3108795916, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 16, :time 3109950416, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 17, :time 5024662833, :type :info, :process 0, :f :broadcast, :value 0, :error :net-timeout}
{:index 18, :time 5025128541, :type :info, :process 2, :f :broadcast, :value 1, :error :net-timeout}
{:index 19, :time 5025232291, :type :invoke, :process 5, :f :broadcast, :value 5}
{:index 20, :time 5071050708, :type :invoke, :process 7, :f :broadcast, :value 6}
{:index 21, :time 5279571916, :type :info, :process 1, :f :broadcast, :value 2, :error :net-timeout}
{:index 22, :time 5279892916, :type :invoke, :process 6, :f :broadcast, :value 7}
{:index 23, :time 5474223916, :type :info, :process 3, :f :broadcast, :value 3, :error :net-timeout}
{:index 24, :time 5474460791, :type :invoke, :process 8, :f :broadcast, :value 8}
{:index 25, :time 5817156125, :type :info, :process 4, :f :broadcast, :value 4, :error :net-timeout}
{:index 26, :time 5817459041, :type :invoke, :process 9, :f :broadcast, :value 9}
{:index 27, :time 9770258666, :type :info, :process :nemesis, :f :start-partition, :value :one}
{:index 28, :time 9775813083, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n3" #{"n2" "n1" "n4" "n0"}, "n2" #{"n3"}, "n1" #{"n3"}, "n4" #{"n3"}, "n0" #{"n3"}}]}
{:index 29, :time 10032039625, :type :info, :process 5, :f :broadcast, :value 5, :error :net-timeout}
{:index 30, :time 10032497958, :type :invoke, :process 10, :f :broadcast, :value 10}
{:index 31, :time 10077081083, :type :info, :process 7, :f :broadcast, :value 6, :error :net-timeout}
{:index 32, :time 10077373750, :type :invoke, :process 12, :f :read, :value nil}
{:index 33, :time 10080665458, :type :ok, :process 12, :f :read, :value []}
{:index 34, :time 10080738166, :type :invoke, :process 12, :f :broadcast, :value 11}
{:index 35, :time 10286565458, :type :info, :process 6, :f :broadcast, :value 7, :error :net-timeout}
{:index 36, :time 10286891833, :type :invoke, :process 11, :f :broadcast, :value 12}
{:index 37, :time 10481925250, :type :info, :process 8, :f :broadcast, :value 8, :error :net-timeout}
{:index 38, :time 10482291000, :type :invoke, :process 13, :f :read, :value nil}
{:index 39, :time 10485395416, :type :ok, :process 13, :f :read, :value []}
{:index 40, :time 10641738541, :type :invoke, :process 13, :f :read, :value nil}
{:index 41, :time 10645798416, :type :ok, :process 13, :f :read, :value []}
{:index 42, :time 10780885208, :type :invoke, :process 13, :f :read, :value nil}
{:index 43, :time 10785408333, :type :ok, :process 13, :f :read, :value []}
{:index 44, :time 10820474166, :type :info, :process 9, :f :broadcast, :value 9, :error :net-timeout}
{:index 45, :time 10846798041, :type :invoke, :process 13, :f :read, :value nil}
{:index 46, :time 10849314875, :type :ok, :process 13, :f :read, :value []}
{:index 47, :time 10870374083, :type :invoke, :process 13, :f :read, :value nil}
{:index 48, :time 10872777083, :type :ok, :process 13, :f :read, :value []}
{:index 49, :time 10922616083, :type :invoke, :process 13, :f :broadcast, :value 13}
{:index 50, :time 10994797333, :type :invoke, :process 14, :f :read, :value nil}
{:index 51, :time 10996475000, :type :ok, :process 14, :f :read, :value []}
{:index 52, :time 11179934541, :type :invoke, :process 14, :f :broadcast, :value 14}
{:index 53, :time 14649507291, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 54, :time 14650395875, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 55, :time 15038747541, :type :info, :process 10, :f :broadcast, :value 10, :error :net-timeout}
{:index 56, :time 15038892166, :type :invoke, :process 15, :f :broadcast, :value 15}
{:index 57, :time 15085701500, :type :info, :process 12, :f :broadcast, :value 11, :error :net-timeout}
{:index 58, :time 15240542375, :type :invoke, :process 17, :f :broadcast, :value 16}
{:index 59, :time 15302643000, :type :info, :process 11, :f :broadcast, :value 12, :error :net-timeout}
{:index 60, :time 15302793458, :type :invoke, :process 16, :f :read, :value nil}
{:index 61, :time 15324117500, :type :ok, :process 16, :f :read, :value []}
{:index 62, :time 15408778541, :type :invoke, :process 16, :f :broadcast, :value 17}
{:index 63, :time 15928661125, :type :info, :process 13, :f :broadcast, :value 13, :error :net-timeout}
{:index 64, :time 15928935583, :type :invoke, :process 18, :f :read, :value nil}
{:index 65, :time 15931940500, :type :ok, :process 18, :f :read, :value []}
{:index 66, :time 16008747375, :type :invoke, :process 18, :f :read, :value nil}
{:index 67, :time 16010440041, :type :ok, :process 18, :f :read, :value []}
{:index 68, :time 16108755041, :type :invoke, :process 18, :f :read, :value nil}
{:index 69, :time 16110242958, :type :ok, :process 18, :f :read, :value []}
{:index 70, :time 16186818208, :type :info, :process 14, :f :broadcast, :value 14, :error :net-timeout}
{:index 71, :time 16187078500, :type :invoke, :process 18, :f :read, :value nil}
{:index 72, :time 16189218541, :type :ok, :process 18, :f :read, :value []}
{:index 73, :time 16302860000, :type :invoke, :process 18, :f :broadcast, :value 18}
{:index 74, :time 16473902708, :type :invoke, :process 19, :f :read, :value nil}
{:index 75, :time 16479048166, :type :ok, :process 19, :f :read, :value []}
{:index 76, :time 16647049416, :type :invoke, :process 19, :f :broadcast, :value 19}
{:index 77, :time 20044268916, :type :info, :process 15, :f :broadcast, :value 15, :error :net-timeout}
{:index 78, :time 20245800375, :type :info, :process 17, :f :broadcast, :value 16, :error :net-timeout}
{:index 79, :time 20414581416, :type :info, :process 16, :f :broadcast, :value 17, :error :net-timeout}
{:index 80, :time 21309621541, :type :info, :process 18, :f :broadcast, :value 18, :error :net-timeout}
{:index 81, :time 21653280750, :type :info, :process 19, :f :broadcast, :value 19, :error :net-timeout}
{:index 82, :time 21653488083, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 83, :time 21654392041, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 84, :time 31660479750, :type :invoke, :process 23, :f :read, :value nil, :final? true}
{:index 85, :time 31667665791, :type :invoke, :process 20, :f :read, :value nil, :final? true}
{:index 86, :time 31667894541, :type :invoke, :process 21, :f :read, :value nil, :final? true}
{:index 87, :time 31668053416, :type :invoke, :process 22, :f :read, :value nil, :final? true}
{:index 88, :time 31668150750, :type :invoke, :process 24, :f :read, :value nil, :final? true}
{:index 89, :time 31672115375, :type :ok, :process 23, :f :read, :value [], :final? true}
{:index 90, :time 31672162083, :type :ok, :process 24, :f :read, :value [], :final? true}
{:index 91, :time 31672176208, :type :ok, :process 21, :f :read, :value [], :final? true}
{:index 92, :time 31672188583, :type :ok, :process 22, :f :read, :value [], :final? true}
{:index 93, :time 31672543041, :type :ok, :process 20, :f :read, :value [], :final? true}
