{:index 0, :time 9250875, :type :invoke, :process 0, :f :poll, :value [[:poll]]}
{:index 1, :time 11925750, :type :invoke, :process 1, :f :crash, :value nil}
{:index 2, :time 12746875, :type :info, :process 1, :f :crash, :value nil}
{:index 3, :time 14066500, :type :invoke, :process 3, :f :poll, :value [[:poll]]}
{:index 4, :time 14334416, :type :ok, :process 0, :f :poll, :value [[:poll {}]]}
{:index 5, :time 15704583, :type :invoke, :process 0, :f :poll, :value [[:poll]]}
{:index 6, :time 15992875, :type :ok, :process 3, :f :poll, :value [[:poll {}]]}
{:index 7, :time 16634541, :type :ok, :process 0, :f :poll, :value [[:poll {}]]}
{:index 8, :time 16967666, :type :invoke, :process 3, :f :send, :value [[:send "9" 1]]}
{:index 9, :time 17589250, :type :invoke, :process 0, :f :poll, :value [[:poll]]}
{:index 10, :time 18536166, :type :ok, :process 0, :f :poll, :value [[:poll {}]]}
{:index 11, :time 19377375, :type :invoke, :process 0, :f :poll, :value [[:poll]]}
{:index 12, :time 5019890208, :type :info, :process 0, :f :poll, :value [[:poll]], :error :net-timeout}
{:index 13, :time 5019979750, :type :invoke, :process 2, :f :send, :value [[:send "9" 2]]}
{:index 14, :time 5021573416, :type :info, :process 3, :f :send, :value [[:send "9" 1]], :error :net-timeout}
{:index 15, :time 5021620708, :type :invoke, :process 5, :f :assign, :value ["7"]}
{:index 16, :time 10023985208, :type :info, :process 2, :f :send, :value [[:send "9" 2]], :error :net-timeout}
{:index 17, :time 10024188958, :type :fail, :process 5, :f :assign, :value ["7"], :error :net-timeout}
{:index 18, :time 10024239833, :type :invoke, :process 4, :f :send, :value [[:send "7" 1]]}
{:index 19, :time 10024741541, :type :invoke, :process 5, :f :assign, :value ["8"]}
{:index 20, :time 15025087916, :type :fail, :process 5, :f :assign, :value ["8"], :error :net-timeout}
{:index 21, :time 15025271875, :type :invoke, :process 5, :f :send, :value [[:send "8" 1]]}
{:index 22, :time 15028102208, :type :info, :process 4, :f :send, :value [[:send "7" 1]], :error :net-timeout}
{:index 23, :time 15028165583, :type :invoke, :process 6, :f :poll, :value [[:poll]]}
{:index 24, :time 20030718250, :type :info, :process 5, :f :send, :value [[:send "8" 1]], :error :net-timeout}
{:index 25, :time 20031397333, :type :info, :process 6, :f :poll, :value [[:poll]], :error :net-timeout}
