{:index 0, :time 15918834, :type :invoke, :process 0, :f :broadcast, :value 0}
{:index 1, :time 20172709, :type :ok, :process 0, :f :broadcast, :value 0}
{:index 2, :time 115191000, :type :invoke, :process 0, :f :broadcast, :value 1}
{:index 3, :time 116548625, :type :ok, :process 0, :f :broadcast, :value 1}
{:index 4, :time 253184709, :type :invoke, :process 0, :f :broadcast, :value 2}
{:index 5, :time 254575875, :type :ok, :process 0, :f :broadcast, :value 2}
{:index 6, :time 307891792, :type :invoke, :process 0, :f :read, :value nil}
{:index 7, :time 309070167, :type :ok, :process 0, :f :read, :value []}
{:index 8, :time 441533417, :type :invoke, :process 0, :f :read, :value nil}
{:index 9, :time 445410417, :type :ok, :process 0, :f :read, :value []}
{:index 10, :time 521714875, :type :invoke, :process 0, :f :read, :value nil}
{:index 11, :time 525765292, :type :ok, :process 0, :f :read, :value []}
{:index 12, :time 691251292, :type :invoke, :process 0, :f :broadcast, :value 3}
{:index 13, :time 694965792, :type :ok, :process 0, :f :broadcast, :value 3}
{:index 14, :time 712127625, :type :invoke, :process 0, :f :read, :value nil}
{:index 15, :time 714809084, :type :ok, :process 0, :f :read, :value []}
{:index 16, :time 718775459, :type :invoke, :process 0, :f :read, :value nil}
{:index 17, :time 721266834, :type :ok, :process 0, :f :read, :value []}
{:index 18, :time 847157959, :type :invoke, :process 0, :f :read, :value nil}
{:index 19, :time 848775375, :type :ok, :process 0, :f :read, :value []}
{:index 20, :time 965195084, :type :invoke, :process 0, :f :read, :value nil}
{:index 21, :time 967931334, :type :ok, :process 0, :f :read, :value []}
{:index 22, :time 1069198250, :type :invoke, :process 0, :f :read, :value nil}
{:index 23, :time 1072521584, :type :ok, :process 0, :f :read, :value []}
{:index 24, :time 1102064292, :type :invoke, :process 0, :f :broadcast, :value 4}
{:index 25, :time 1104630667, :type :ok, :process 0, :f :broadcast, :value 4}
{:index 26, :time 1273796250, :type :invoke, :process 0, :f :read, :value nil}
{:index 27, :time 1277387459, :type :ok, :process 0, :f :read, :value []}
{:index 28, :time 1280126042, :type :invoke, :process 0, :f :broadcast, :value 5}
{:index 29, :time 1281883542, :type :ok, :process 0, :f :broadcast, :value 5}
{:index 30, :time 1415975167, :type :invoke, :process 0, :f :read, :value nil}
{:index 31, :time 1419866875, :type :ok, :process 0, :f :read, :value []}
{:index 32, :time 1520856584, :type :invoke, :process 0, :f :read, :value nil}
{:index 33, :time 1524215834, :type :ok, :process 0, :f :read, :value []}
{:index 34, :time 1531395625, :type :invoke, :process 0, :f :broadcast, :value 6}
{:index 35, :time 1533723959, :type :ok, :process 0, :f :broadcast, :value 6}
{:index 36, :time 1589026875, :type :invoke, :process 0, :f :broadcast, :value 7}
{:index 37, :time 1590740250, :type :ok, :process 0, :f :broadcast, :value 7}
{:index 38, :time 1756745792, :type :invoke, :process 0, :f :read, :value nil}
{:index 39, :time 1759586792, :type :ok, :process 0, :f :read, :value []}
{:index 40, :time 1932640834, :type :invoke, :process 0, :f :read, :value nil}
{:index 41, :time 1936301667, :type :ok, :process 0, :f :read, :value []}
{:index 42, :time 2131321792, :type :invoke, :process 0, :f :read, :value nil}
{:index 43, :time 2134390542, :type :ok, :process 0, :f :read, :value []}
{:index 44, :time 2291266042, :type :invoke, :process 0, :f :broadcast, :value 8}
{:index 45, :time 2294281667, :type :ok, :process 0, :f :broadcast, :value 8}
{:index 46, :time 2474567000, :type :invoke, :process 0, :f :read, :value nil}
{:index 47, :time 2478588292, :type :ok, :process 0, :f :read, :value []}
{:index 48, :time 2478679042, :type :invoke, :process 0, :f :read, :value nil}
{:index 49, :time 2479869750, :type :ok, :process 0, :f :read, :value []}
{:index 50, :time 2637102167, :type :invoke, :process 0, :f :broadcast, :value 9}
{:index 51, :time 2639906375, :type :ok, :process 0, :f :broadcast, :value 9}
{:index 52, :time 2723173542, :type :invoke, :process 0, :f :read, :value nil}
{:index 53, :time 2726331292, :type :ok, :process 0, :f :read, :value []}
{:index 54, :time 2912646459, :type :invoke, :process 0, :f :broadcast, :value 10}
{:index 55, :time 2915715042, :type :ok, :process 0, :f :broadcast, :value 10}
{:index 56, :time 2939181917, :type :invoke, :process 0, :f :read, :value nil}
{:index 57, :time 2941748709, :type :ok, :process 0, :f :read, :value []}
{:index 58, :time 2982833167, :type :invoke, :process 0, :f :broadcast, :value 11}
{:index 59, :time 2986050750, :type :ok, :process 0, :f :broadcast, :value 11}
{:index 60, :time 3104781292, :type :invoke, :process 0, :f :read, :value nil}
{:index 61, :time 3107802042, :type :ok, :process 0, :f :read, :value []}
{:index 62, :time 3271795375, :type :invoke, :process 0, :f :read, :value nil}
{:index 63, :time 3275078125, :type :ok, :process 0, :f :read, :value []}
{:index 64, :time 3275596667, :type :invoke, :process 0, :f :read, :value nil}
{:index 65, :time 3276818375, :type :ok, :process 0, :f :read, :value []}
{:index 66, :time 3374554167, :type :invoke, :process 0, :f :broadcast, :value 12}
{:index 67, :time 3378260917, :type :ok, :process 0, :f :broadcast, :value 12}
{:index 68, :time 3549754209, :type :invoke, :process 0, :f :read, :value nil}
{:index 69, :time 3553142917, :type :ok, :process 0, :f :read, :value []}
{:index 70, :time 3647664125, :type :invoke, :process 0, :f :broadcast, :value 13}
{:index 71, :time 3650795625, :type :ok, :process 0, :f :broadcast, :value 13}
{:index 72, :time 3731861334, :type :invoke, :process 0, :f :read, :value nil}
{:index 73, :time 3734806792, :type :ok, :process 0, :f :read, :value []}
{:index 74, :time 3792737209, :type :invoke, :process 0, :f :broadcast, :value 14}
{:index 75, :time 3796372334, :type :ok, :process 0, :f :broadcast, :value 14}
{:index 76, :time 3900079500, :type :invoke, :process 0, :f :read, :value nil}
{:index 77, :time 3903416334, :type :ok, :process 0, :f :read, :value []}
{:index 78, :time 3999087917, :type :invoke, :process 0, :f :read, :value nil}
{:index 79, :time 4003045875, :type :ok, :process 0, :f :read, :value []}
{:index 80, :time 4146223750, :type :invoke, :process 0, :f :broadcast, :value 15}
{:index 81, :time 4149019792, :type :ok, :process 0, :f :broadcast, :value 15}
{:index 82, :time 4331848042, :type :invoke, :process 0, :f :broadcast, :value 16}
{:index 83, :time 4334787375, :type :ok, :process 0, :f :broadcast, :value 16}
{:index 84, :time 4383788792, :type :invoke, :process 0, :f :read, :value nil}
{:index 85, :time 4386737417, :type :ok, :process 0, :f :read, :value []}
{:index 86, :time 4441222042, :type :invoke, :process 0, :f :read, :value nil}
{:index 87, :time 4444469125, :type :ok, :process 0, :f :read, :value []}
{:index 88, :time 4465722292, :type :invoke, :process 0, :f :read, :value nil}
{:index 89, :time 4467914584, :type :ok, :process 0, :f :read, :value []}
{:index 90, :time 4642472584, :type :invoke, :process 0, :f :broadcast, :value 17}
{:index 91, :time 4645474792, :type :ok, :process 0, :f :broadcast, :value 17}
{:index 92, :time 4686438834, :type :invoke, :process 0, :f :broadcast, :value 18}
{:index 93, :time 4689700959, :type :ok, :process 0, :f :broadcast, :value 18}
{:index 94, :time 4834564000, :type :invoke, :process 0, :f :broadcast, :value 19}
{:index 95, :time 4837698000, :type :ok, :process 0, :f :broadcast, :value 19}
{:index 96, :time 5000708542, :type :invoke, :process 0, :f :broadcast, :value 20}
{:index 97, :time 5003684667, :type :ok, :process 0, :f :broadcast, :value 20}
{:index 98, :time 5189623667, :type :invoke, :process 0, :f :read, :value nil}
{:index 99, :time 5192886334, :type :ok, :process 0, :f :read, :value []}
{:index 100, :time 5305899375, :type :invoke, :process 0, :f :broadcast, :value 21}
{:index 101, :time 5309985584, :type :ok, :process 0, :f :broadcast, :value 21}
{:index 102, :time 5470314334, :type :invoke, :process 0, :f :broadcast, :value 22}
{:index 103, :time 5473686250, :type :ok, :process 0, :f :broadcast, :value 22}
{:index 104, :time 5497832209, :type :invoke, :process 0, :f :broadcast, :value 23}
{:index 105, :time 5500833084, :type :ok, :process 0, :f :broadcast, :value 23}
{:index 106, :time 5673467917, :type :invoke, :process 0, :f :read, :value nil}
{:index 107, :time 5676921000, :type :ok, :process 0, :f :read, :value []}
{:index 108, :time 5839562709, :type :invoke, :process 0, :f :read, :value nil}
{:index 109, :time 5841002375, :type :ok, :process 0, :f :read, :value []}
{:index 110, :time 6005934042, :type :invoke, :process 0, :f :broadcast, :value 24}
{:index 111, :time 6008742542, :type :ok, :process 0, :f :broadcast, :value 24}
{:index 112, :time 6134548292, :type :invoke, :process 0, :f :read, :value nil}
{:index 113, :time 6137597292, :type :ok, :process 0, :f :read, :value []}
{:index 114, :time 6165721042, :type :invoke, :process 0, :f :read, :value nil}
{:index 115, :time 6169386917, :type :ok, :process 0, :f :read, :value []}
{:index 116, :time 6247099167, :type :invoke, :process 0, :f :broadcast, :value 25}
{:index 117, :time 6249676459, :type :ok, :process 0, :f :broadcast, :value 25}
{:index 118, :time 6336282625, :type :invoke, :process 0, :f :broadcast, :value 26}
{:index 119, :time 6339182250, :type :ok, :process 0, :f :broadcast, :value 26}
{:index 120, :time 6465697750, :type :invoke, :process 0, :f :read, :value nil}
{:index 121, :time 6468789459, :type :ok, :process 0, :f :read, :value []}
{:index 122, :time 6507877459, :type :invoke, :process 0, :f :broadcast, :value 27}
{:index 123, :time 6511445875, :type :ok, :process 0, :f :broadcast, :value 27}
{:index 124, :time 6656829584, :type :invoke, :process 0, :f :broadcast, :value 28}
{:index 125, :time 6659810334, :type :ok, :process 0, :f :broadcast, :value 28}
{:index 126, :time 6819224292, :type :invoke, :process 0, :f :broadcast, :value 29}
{:index 127, :time 6822442959, :type :ok, :process 0, :f :broadcast, :value 29}
{:index 128, :time 6977280625, :type :invoke, :process 0, :f :read, :value nil}
{:index 129, :time 6980722625, :type :ok, :process 0, :f :read, :value []}
{:index 130, :time 6982329500, :type :invoke, :process 0, :f :broadcast, :value 30}
{:index 131, :time 6983245959, :type :ok, :process 0, :f :broadcast, :value 30}
{:index 132, :time 7007911000, :type :invoke, :process 0, :f :read, :value nil}
{:index 133, :time 7010450459, :type :ok, :process 0, :f :read, :value []}
{:index 134, :time 7135260292, :type :invoke, :process 0, :f :broadcast, :value 31}
{:index 135, :time 7138021709, :type :ok, :process 0, :f :broadcast, :value 31}
{:index 136, :time 7296073709, :type :invoke, :process 0, :f :read, :value nil}
{:index 137, :time 7298945084, :type :ok, :process 0, :f :read, :value []}
{:index 138, :time 7363391542, :type :invoke, :process 0, :f :read, :value nil}
{:index 139, :time 7366279042, :type :ok, :process 0, :f :read, :value []}
{:index 140, :time 7418310625, :type :invoke, :process 0, :f :read, :value nil}
{:index 141, :time 7421154542, :type :ok, :process 0, :f :read, :value []}
{:index 142, :time 7499035667, :type :invoke, :process 0, :f :read, :value nil}
{:index 143, :time 7502369959, :type :ok, :process 0, :f :read, :value []}
{:index 144, :time 7537650250, :type :invoke, :process 0, :f :read, :value nil}
{:index 145, :time 7540459667, :type :ok, :process 0, :f :read, :value []}
{:index 146, :time 7655220334, :type :invoke, :process 0, :f :broadcast, :value 32}
{:index 147, :time 7657956667, :type :ok, :process 0, :f :broadcast, :value 32}
{:index 148, :time 7840324792, :type :invoke, :process 0, :f :broadcast, :value 33}
{:index 149, :time 7843648125, :type :ok, :process 0, :f :broadcast, :value 33}
{:index 150, :time 8009509625, :type :invoke, :process 0, :f :read, :value nil}
{:index 151, :time 8012480542, :type :ok, :process 0, :f :read, :value []}
{:index 152, :time 8107874417, :type :invoke, :process 0, :f :read, :value nil}
{:index 153, :time 8110992542, :type :ok, :process 0, :f :read, :value []}
{:index 154, :time 8236621959, :type :invoke, :process 0, :f :broadcast, :value 34}
{:index 155, :time 8239439792, :type :ok, :process 0, :f :broadcast, :value 34}
{:index 156, :time 8285736750, :type :invoke, :process 0, :f :broadcast, :value 35}
{:index 157, :time 8288881584, :type :ok, :process 0, :f :broadcast, :value 35}
{:index 158, :time 8464015375, :type :invoke, :process 0, :f :broadcast, :value 36}
{:index 159, :time 8466888875, :type :ok, :process 0, :f :broadcast, :value 36}
{:index 160, :time 8478881875, :type :invoke, :process 0, :f :read, :value nil}
{:index 161, :time 8481136584, :type :ok, :process 0, :f :read, :value []}
{:index 162, :time 8664270584, :type :invoke, :process 0, :f :broadcast, :value 37}
{:index 163, :time 8667073250, :type :ok, :process 0, :f :broadcast, :value 37}
{:index 164, :time 8708177375, :type :invoke, :process 0, :f :read, :value nil}
{:index 165, :time 8711180292, :type :ok, :process 0, :f :read, :value []}
{:index 166, :time 8874755042, :type :invoke, :process 0, :f :read, :value nil}
{:index 167, :time 8877657209, :type :ok, :process 0, :f :read, :value []}
{:index 168, :time 8974701709, :type :invoke, :process 0, :f :read, :value nil}
{:index 169, :time 8978264917, :type :ok, :process 0, :f :read, :value []}
{:index 170, :time 9171350042, :type :invoke, :process 0, :f :broadcast, :value 38}
{:index 171, :time 9174398542, :type :ok, :process 0, :f :broadcast, :value 38}
{:index 172, :time 9363538417, :type :invoke, :process 0, :f :broadcast, :value 39}
{:index 173, :time 9366330375, :type :ok, :process 0, :f :broadcast, :value 39}
{:index 174, :time 9548820917, :type :invoke, :process 0, :f :read, :value nil}
{:index 175, :time 9551659750, :type :ok, :process 0, :f :read, :value []}
{:index 176, :time 9610100000, :type :invoke, :process 0, :f :broadcast, :value 40}
{:index 177, :time 9613410417, :type :ok, :process 0, :f :broadcast, :value 40}
{:index 178, :time 9676217000, :type :invoke, :process 0, :f :read, :value nil}
{:index 179, :time 9679529542, :type :ok, :process 0, :f :read, :value []}
{:index 180, :time 9773456250, :type :invoke, :process 0, :f :broadcast, :value 41}
{:index 181, :time 9776489667, :type :ok, :process 0, :f :broadcast, :value 41}
{:index 182, :time 9866727625, :type :invoke, :process 0, :f :broadcast, :value 42}
{:index 183, :time 9869939959, :type :ok, :process 0, :f :broadcast, :value 42}
{:index 184, :time 9883297584, :type :invoke, :process 0, :f :broadcast, :value 43}
{:index 185, :time 9886082042, :type :ok, :process 0, :f :broadcast, :value 43}
{:index 186, :time 10084126542, :type :invoke, :process 0, :f :read, :value nil}
{:index 187, :time 10087785584, :type :ok, :process 0, :f :read, :value []}
{:index 188, :time 10113154792, :type :invoke, :process 0, :f :read, :value nil}
{:index 189, :time 10115760917, :type :ok, :process 0, :f :read, :value []}
{:index 190, :time 10174518709, :type :invoke, :process 0, :f :broadcast, :value 44}
{:index 191, :time 10178033834, :type :ok, :process 0, :f :broadcast, :value 44}
{:index 192, :time 10242054709, :type :invoke, :process 0, :f :read, :value nil}
{:index 193, :time 10243145667, :type :ok, :process 0, :f :read, :value []}
{:index 194, :time 10319642709, :type :invoke, :process 0, :f :read, :value nil}
{:index 195, :time 10320499042, :type :ok, :process 0, :f :read, :value []}
{:index 196, :time 10385459959, :type :invoke, :process 0, :f :broadcast, :value 45}
{:index 197, :time 10386316125, :type :ok, :process 0, :f :broadcast, :value 45}
{:index 198, :time 10486416209, :type :invoke, :process 0, :f :broadcast, :value 46}
{:index 199, :time 10488738625, :type :ok, :process 0, :f :broadcast, :value 46}
{:index 200, :time 10683233459, :type :invoke, :process 0, :f :broadcast, :value 47}
{:index 201, :time 10685644459, :type :ok, :process 0, :f :broadcast, :value 47}
{:index 202, :time 10786030917, :type :invoke, :process 0, :f :broadcast, :value 48}
{:index 203, :time 10789101459, :type :ok, :process 0, :f :broadcast, :value 48}
{:index 204, :time 10861860500, :type :invoke, :process 0, :f :read, :value nil}
{:index 205, :time 10863315417, :type :ok, :process 0, :f :read, :value []}
{:index 206, :time 11009019292, :type :invoke, :process 0, :f :broadcast, :value 49}
{:index 207, :time 11011792584, :type :ok, :process 0, :f :broadcast, :value 49}
{:index 208, :time 11103709167, :type :invoke, :process 0, :f :broadcast, :value 50}
{:index 209, :time 11106237125, :type :ok, :process 0, :f :broadcast, :value 50}
{:index 210, :time 11181797375, :type :invoke, :process 0, :f :broadcast, :value 51}
{:index 211, :time 11184734584, :type :ok, :process 0, :f :broadcast, :value 51}
{:index 212, :time 11383363875, :type :invoke, :process 0, :f :broadcast, :value 52}
{:index 213, :time 11385981834, :type :ok, :process 0, :f :broadcast, :value 52}
{:index 214, :time 11435896375, :type :invoke, :process 0, :f :broadcast, :value 53}
{:index 215, :time 11438878459, :type :ok, :process 0, :f :broadcast, :value 53}
{:index 216, :time 11468970875, :type :invoke, :process 0, :f :read, :value nil}
{:index 217, :time 11470888959, :type :ok, :process 0, :f :read, :value []}
{:index 218, :time 11621556667, :type :invoke, :process 0, :f :read, :value nil}
{:index 219, :time 11624530084, :type :ok, :process 0, :f :read, :value []}
{:index 220, :time 11807836125, :type :invoke, :process 0, :f :read, :value nil}
{:index 221, :time 11810460125, :type :ok, :process 0, :f :read, :value []}
{:index 222, :time 11829315834, :type :invoke, :process 0, :f :broadcast, :value 54}
{:index 223, :time 11831695334, :type :ok, :process 0, :f :broadcast, :value 54}
{:index 224, :time 11932540709, :type :invoke, :process 0, :f :broadcast, :value 55}
{:index 225, :time 11935549042, :type :ok, :process 0, :f :broadcast, :value 55}
{:index 226, :time 12021205792, :type :invoke, :process 0, :f :read, :value nil}
{:index 227, :time 12024090667, :type :ok, :process 0, :f :read, :value []}
{:index 228, :time 12064114834, :type :invoke, :process 0, :f :broadcast, :value 56}
{:index 229, :time 12066894167, :type :ok, :process 0, :f :broadcast, :value 56}
{:index 230, :time 12186387209, :type :invoke, :process 0, :f :read, :value nil}
{:index 231, :time 12188961125, :type :ok, :process 0, :f :read, :value []}
{:index 232, :time 12269325000, :type :invoke, :process 0, :f :broadcast, :value 57}
{:index 233, :time 12272071500, :type :ok, :process 0, :f :broadcast, :value 57}
{:index 234, :time 12272148125, :type :invoke, :process 0, :f :broadcast, :value 58}
{:index 235, :time 12273482584, :type :ok, :process 0, :f :broadcast, :value 58}
{:index 236, :time 12273645709, :type :invoke, :process 0, :f :broadcast, :value 59}
{:index 237, :time 12274405417, :type :ok, :process 0, :f :broadcast, :value 59}
{:index 238, :time 12375304500, :type :invoke, :process 0, :f :broadcast, :value 60}
{:index 239, :time 12377635042, :type :ok, :process 0, :f :broadcast, :value 60}
{:index 240, :time 12377680542, :type :invoke, :process 0, :f :read, :value nil}
{:index 241, :time 12378581875, :type :ok, :process 0, :f :read, :value []}
{:index 242, :time 12553332667, :type :invoke, :process 0, :f :broadcast, :value 61}
{:index 243, :time 12555765667, :type :ok, :process 0, :f :broadcast, :value 61}
{:index 244, :time 12658426584, :type :invoke, :process 0, :f :broadcast, :value 62}
{:index 245, :time 12661105000, :type :ok, :process 0, :f :broadcast, :value 62}
{:index 246, :time 12786534000, :type :invoke, :process 0, :f :read, :value nil}
{:index 247, :time 12789279875, :type :ok, :process 0, :f :read, :value []}
{:index 248, :time 12863581875, :type :invoke, :process 0, :f :broadcast, :value 63}
{:index 249, :time 12866114209, :type :ok, :process 0, :f :broadcast, :value 63}
{:index 250, :time 13030101417, :type :invoke, :process 0, :f :read, :value nil}
{:index 251, :time 13033287917, :type :ok, :process 0, :f :read, :value []}
{:index 252, :time 13185385792, :type :invoke, :process 0, :f :broadcast, :value 64}
{:index 253, :time 13188251542, :type :ok, :process 0, :f :broadcast, :value 64}
{:index 254, :time 13372100334, :type :invoke, :process 0, :f :read, :value nil}
{:index 255, :time 13374961542, :type :ok, :process 0, :f :read, :value []}
{:index 256, :time 13406801375, :type :invoke, :process 0, :f :broadcast, :value 65}
{:index 257, :time 13409900709, :type :ok, :process 0, :f :broadcast, :value 65}
{:index 258, :time 13409947500, :type :invoke, :process 0, :f :broadcast, :value 66}
{:index 259, :time 13410719500, :type :ok, :process 0, :f :broadcast, :value 66}
{:index 260, :time 13410758375, :type :invoke, :process 0, :f :broadcast, :value 67}
{:index 261, :time 13411568084, :type :ok, :process 0, :f :broadcast, :value 67}
{:index 262, :time 13500720000, :type :invoke, :process 0, :f :read, :value nil}
{:index 263, :time 13503828459, :type :ok, :process 0, :f :read, :value []}
{:index 264, :time 13523530417, :type :invoke, :process 0, :f :read, :value nil}
{:index 265, :time 13525808375, :type :ok, :process 0, :f :read, :value []}
{:index 266, :time 13604391292, :type :invoke, :process 0, :f :read, :value nil}
{:index 267, :time 13606858792, :type :ok, :process 0, :f :read, :value []}
{:index 268, :time 13774506584, :type :invoke, :process 0, :f :broadcast, :value 68}
{:index 269, :time 13777037084, :type :ok, :process 0, :f :broadcast, :value 68}
{:index 270, :time 13943375667, :type :invoke, :process 0, :f :broadcast, :value 69}
{:index 271, :time 13945848542, :type :ok, :process 0, :f :broadcast, :value 69}
{:index 272, :time 14015118375, :type :invoke, :process 0, :f :read, :value nil}
{:index 273, :time 14017730875, :type :ok, :process 0, :f :read, :value []}
{:index 274, :time 14191155667, :type :invoke, :process 0, :f :broadcast, :value 70}
{:index 275, :time 14193592625, :type :ok, :process 0, :f :broadcast, :value 70}
{:index 276, :time 14295109125, :type :invoke, :process 0, :f :broadcast, :value 71}
{:index 277, :time 14297482125, :type :ok, :process 0, :f :broadcast, :value 71}
{:index 278, :time 14468677292, :type :invoke, :process 0, :f :broadcast, :value 72}
{:index 279, :time 14471296292, :type :ok, :process 0, :f :broadcast, :value 72}
{:index 280, :time 14634646167, :type :invoke, :process 0, :f :broadcast, :value 73}
{:index 281, :time 14637152959, :type :ok, :process 0, :f :broadcast, :value 73}
{:index 282, :time 14793595292, :type :invoke, :process 0, :f :read, :value nil}
{:index 283, :time 14796211209, :type :ok, :process 0, :f :read, :value []}
{:index 284, :time 14963387834, :type :invoke, :process 0, :f :read, :value nil}
{:index 285, :time 14965904959, :type :ok, :process 0, :f :read, :value []}
{:index 286, :time 14997713792, :type :invoke, :process 0, :f :read, :value nil}
{:index 287, :time 15000208750, :type :ok, :process 0, :f :read, :value []}
{:index 288, :time 15188812375, :type :invoke, :process 0, :f :broadcast, :value 74}
{:index 289, :time 15191441417, :type :ok, :process 0, :f :broadcast, :value 74}
{:index 290, :time 15345133292, :type :invoke, :process 0, :f :broadcast, :value 75}
{:index 291, :time 15347653042, :type :ok, :process 0, :f :broadcast, :value 75}
{:index 292, :time 15534428834, :type :invoke, :process 0, :f :broadcast, :value 76}
{:index 293, :time 15536874292, :type :ok, :process 0, :f :broadcast, :value 76}
{:index 294, :time 15610167750, :type :invoke, :process 0, :f :broadcast, :value 77}
{:index 295, :time 15612744709, :type :ok, :process 0, :f :broadcast, :value 77}
{:index 296, :time 15616074625, :type :invoke, :process 0, :f :read, :value nil}
{:index 297, :time 15617052792, :type :ok, :process 0, :f :read, :value []}
{:index 298, :time 15630135167, :type :invoke, :process 0, :f :broadcast, :value 78}
{:index 299, :time 15642850375, :type :ok, :process 0, :f :broadcast, :value 78}
{:index 300, :time 15724502042, :type :invoke, :process 0, :f :read, :value nil}
{:index 301, :time 15725748709, :type :ok, :process 0, :f :read, :value []}
{:index 302, :time 15899052042, :type :invoke, :process 0, :f :read, :value nil}
{:index 303, :time 15900425709, :type :ok, :process 0, :f :read, :value []}
{:index 304, :time 16005783084, :type :invoke, :process 0, :f :read, :value nil}
{:index 305, :time 16008461375, :type :ok, :process 0, :f :read, :value []}
{:index 306, :time 16198269042, :type :invoke, :process 0, :f :read, :value nil}
{:index 307, :time 16201189959, :type :ok, :process 0, :f :read, :value []}
{:index 308, :time 16293906917, :type :invoke, :process 0, :f :read, :value nil}
{:index 309, :time 16296586500, :type :ok, :process 0, :f :read, :value []}
{:index 310, :time 16415009917, :type :invoke, :process 0, :f :broadcast, :value 79}
{:index 311, :time 16417550542, :type :ok, :process 0, :f :broadcast, :value 79}
{:index 312, :time 16569143209, :type :invoke, :process 0, :f :read, :value nil}
{:index 313, :time 16571940959, :type :ok, :process 0, :f :read, :value []}
{:index 314, :time 16720639667, :type :invoke, :process 0, :f :broadcast, :value 80}
{:index 315, :time 16723440459, :type :ok, :process 0, :f :broadcast, :value 80}
{:index 316, :time 16908900459, :type :invoke, :process 0, :f :read, :value nil}
{:index 317, :time 16912510542, :type :ok, :process 0, :f :read, :value []}
{:index 318, :time 17051092750, :type :invoke, :process 0, :f :broadcast, :value 81}
{:index 319, :time 17053742959, :type :ok, :process 0, :f :broadcast, :value 81}
{:index 320, :time 17067286500, :type :invoke, :process 0, :f :broadcast, :value 82}
{:index 321, :time 17069378292, :type :ok, :process 0, :f :broadcast, :value 82}
{:index 322, :time 17081893917, :type :invoke, :process 0, :f :broadcast, :value 83}
{:index 323, :time 17083944959, :type :ok, :process 0, :f :broadcast, :value 83}
{:index 324, :time 17245619125, :type :invoke, :process 0, :f :broadcast, :value 84}
{:index 325, :time 17248163292, :type :ok, :process 0, :f :broadcast, :value 84}
{:index 326, :time 17352613750, :type :invoke, :process 0, :f :read, :value nil}
{:index 327, :time 17355046417, :type :ok, :process 0, :f :read, :value []}
{:index 328, :time 17382309042, :type :invoke, :process 0, :f :broadcast, :value 85}
{:index 329, :time 17384235167, :type :ok, :process 0, :f :broadcast, :value 85}
{:index 330, :time 17535027959, :type :invoke, :process 0, :f :broadcast, :value 86}
{:index 331, :time 17538408375, :type :ok, :process 0, :f :broadcast, :value 86}
{:index 332, :time 17664207500, :type :invoke, :process 0, :f :read, :value nil}
{:index 333, :time 17666860292, :type :ok, :process 0, :f :read, :value []}
{:index 334, :time 17781067042, :type :invoke, :process 0, :f :read, :value nil}
{:index 335, :time 17783549167, :type :ok, :process 0, :f :read, :value []}
{:index 336, :time 17902535584, :type :invoke, :process 0, :f :broadcast, :value 87}
{:index 337, :time 17905053834, :type :ok, :process 0, :f :broadcast, :value 87}
{:index 338, :time 18032017875, :type :invoke, :process 0, :f :broadcast, :value 88}
{:index 339, :time 18034580375, :type :ok, :process 0, :f :broadcast, :value 88}
{:index 340, :time 18163416042, :type :invoke, :process 0, :f :broadcast, :value 89}
{:index 341, :time 18165877375, :type :ok, :process 0, :f :broadcast, :value 89}
{:index 342, :time 18253000834, :type :invoke, :process 0, :f :read, :value nil}
{:index 343, :time 18255862584, :type :ok, :process 0, :f :read, :value []}
{:index 344, :time 18406353167, :type :invoke, :process 0, :f :read, :value nil}
{:index 345, :time 18408932042, :type :ok, :process 0, :f :read, :value []}
{:index 346, :time 18539644459, :type :invoke, :process 0, :f :broadcast, :value 90}
{:index 347, :time 18542265917, :type :ok, :process 0, :f :broadcast, :value 90}
{:index 348, :time 18576391917, :type :invoke, :process 0, :f :read, :value nil}
{:index 349, :time 18578661125, :type :ok, :process 0, :f :read, :value []}
{:index 350, :time 18718392250, :type :invoke, :process 0, :f :broadcast, :value 91}
{:index 351, :time 18721066959, :type :ok, :process 0, :f :broadcast, :value 91}
{:index 352, :time 18816222125, :type :invoke, :process 0, :f :broadcast, :value 92}
{:index 353, :time 18818792167, :type :ok, :process 0, :f :broadcast, :value 92}
{:index 354, :time 18891199084, :type :invoke, :process 0, :f :read, :value nil}
{:index 355, :time 18894030834, :type :ok, :process 0, :f :read, :value []}
{:index 356, :time 18989901167, :type :invoke, :process 0, :f :read, :value nil}
{:index 357, :time 18992465042, :type :ok, :process 0, :f :read, :value []}
{:index 358, :time 19068091167, :type :invoke, :process 0, :f :broadcast, :value 93}
{:index 359, :time 19070563209, :type :ok, :process 0, :f :broadcast, :value 93}
{:index 360, :time 19108554584, :type :invoke, :process 0, :f :broadcast, :value 94}
{:index 361, :time 19111122542, :type :ok, :process 0, :f :broadcast, :value 94}
{:index 362, :time 19246226334, :type :invoke, :process 0, :f :broadcast, :value 95}
{:index 363, :time 19248877625, :type :ok, :process 0, :f :broadcast, :value 95}
{:index 364, :time 19429986292, :type :invoke, :process 0, :f :broadcast, :value 96}
{:index 365, :time 19432586542, :type :ok, :process 0, :f :broadcast, :value 96}
{:index 366, :time 19513845750, :type :invoke, :process 0, :f :read, :value nil}
{:index 367, :time 19516487959, :type :ok, :process 0, :f :read, :value []}
{:index 368, :time 19698055125, :type :invoke, :process 0, :f :broadcast, :value 97}
{:index 369, :time 19700654417, :type :ok, :process 0, :f :broadcast, :value 97}
{:index 370, :time 19861936834, :type :invoke, :process 0, :f :broadcast, :value 98}
{:index 371, :time 19864467917, :type :ok, :process 0, :f :broadcast, :value 98}
{:index 372, :time 29866879959, :type :invoke, :process 0, :f :read, :value nil, :final? true}
{:index 373, :time 29873487084, :type :ok, :process 0, :f :read, :value [], :final? true}
